[2013-09-04 16:39] iangilman opened #1 "Tiling mechanism"

[2013-09-04 16:39] iangilman opened #2 "Serve cloud tiles"

[2013-09-04 16:39] iangilman opened #3 "Data model"

[2013-09-04 16:40] iangilman opened #4 "API foundation"

[2013-09-04 16:40] iangilman opened #5 "Set it up on Rackspace"

[2013-09-04 16:41] iangilman opened #6 "Come up with a name"

[2013-09-14 06:54] aseemk opened #7 "Worker"
We'll need some higher-level code on top of the image tiler (#1) to do the surrounding work:
- [x] Downloading images;
- [x] Uploading the resulting tiles to tile storage (#2); and
- [ ] Updating the data model's conversion state in the process (#3).

This should be a file that can be run as the main file, just like the web server.

[2013-09-14 06:56] aseemk opened #8 "Simple queue and throttling of work"
_Edit: ignore much of the below. See first comment for update._

We'll eventually want our workers (#7) to run separately from our web servers. To achieve that, we'll need a queueing system.

Tasks:
- [ ] Add a queue interface, just like the interfaces to tile storage (#2) and to the database (#3).
- [ ] Implement a basic implementation of the queue interface. The simplest way here too would be to

[2013-09-14 07:06] aseemk opened #9 "MVP API implementation"
With the basic pieces in place, implement the MVP "glue" connecting them together!

For the MVP, we'll implement only the `GET /content` endpoint, to get or create content by ID or URL, and we'll process new images directly on the web server (by kicking off an async worker process directly after the request).
- [x] Wire up get-or-create API request to data model.
- [x] Kick off an async worker pro

[2013-09-14 07:23] aseemk opened #10 "Config"
We'll want some kind of basic config plumbing, e.g. for specifying which back-end storage implementation to use, but also the info for those implementations, e.g. the URL to the database, or the upload creds to an S3 bucket, etc.

I don't know how Rackspace in particular works, but in general, a best practice I'm familiar with is to support varying configs across environments (e.g. local developme

[2013-09-14 07:25] aseemk opened #11 "Test foundation"
It'll be good to get some basic test foundation up early, so the barrier to writing tests as we develop is low.

It's debatable whether this needs to be done for "MVP", but there are some solid test frameworks/runners out there for Node that make this pretty easy, so I think this'll be worth it. Happy to do this.

[2013-09-14 07:41] aseemk opened #12 "Travis CI"
Once we start writing tests (#11), it'd be awesome to wire up [Travis CI](https://travis-ci.org/) to this repo. I've only used it [once](https://travis-ci.org/aseemk/json5), but loved it. Very feature-rich and flexible, yet easy to setup and free for open-source projects.

[2013-09-14 08:32] #10 closed, assigned to aseemk

[2013-09-14 09:31] #11 closed, assigned to aseemk

[2013-09-28 22:53] #6 closed, assigned to nobody

[2013-09-29 00:33] gasi opened #13 "View Page"
Simple page under `/:id` to view single DZI using @OpenSeadragon

[2013-09-29 02:04] #13 closed, assigned to nobody

[2013-10-01 21:18] iangilman opened #16 "We never get notified of download completion"
If I `npm start` and go to http://localhost:8000/content?url=http://iangilman.com/art/futureworld.jpg it just hangs there forever. If I look in the folder, it has correctly downloaded the image and named it 1.jpg, but the `writer.on 'finish'` never fires (neither does the error one).

Am I the only one this is happening to?

[2013-10-01 21:20] iangilman opened #17 "Basic UI for URL submission -> viewer process"
Even though the API is our first priority, it occurs to me we should do this anyway, since it's the best way to make sure the API is working.

[2013-10-08 04:14] gasi opened #18 "Setup Deployment & Configuration"
- Use [Ansible](http://www.ansibleworks.com/).

[2013-10-20 06:39] #18 closed, assigned to nobody

[2013-10-31 17:46] iangilman opened #20 "Doesn't seem to run"
I did `./zh install` and `npm install` and `npm update` to make sure I'm up to date. When I do `npm start`, I get:

[code]

Please help!

[2013-10-31 17:48] #20 closed, assigned to nobody

[2013-11-04 01:07] #1 closed, assigned to iangilman

[2013-11-04 01:08] gasi opened #22 "Persistence using Redis"
Persist state of application using Redis.

[2013-11-04 07:51] #22 closed, assigned to gasi

[2013-11-14 18:02] #16 closed, assigned to nobody

[2014-03-11 19:04] acdha opened #25 "JPEG 2000 support"
I've heard some comments recently that it'd be useful to have a simple standalone service which could serve JPEG tiles from a directory of JPEG-2000 masters without requiring a complicated media management pipeline. The use-case being things like technicians being able to review batches of new scans, efficient internal access to large files which aren't yet on a public website, etc. This made me t

[2014-08-13 22:24] iangilman opened #26 "Site homepage UI"
Right now it's just a blank page, so no one knows what to do with it. We should have a text entry box for people to put URLs in, and then it should take them to a viewer page. There should also be a link to info on the API.

[2014-08-14 17:56] iangilman opened #27 "Controls don't work on iPhone"
From @supercc: "I noticed the buttons + and - and home and the other one does not work when you open a image in the iPhone 5. Also the double tap to zoom in does not work. When I zoom in with the 2 fingers gesture, I can see little black squares blicking here and there while zooming on the pictures, still on the IPhone. I did not see this issue on the windows explorer."

I think the fix is just to

[2014-08-14 17:58] iangilman opened #28 "Improve instructions for setting up on your own server"
We have:

https://github.com/zoomhub/zoomhub/blob/master/README.md
https://github.com/zoomhub/zoomhub/blob/master/CONTRIBUTING.md

… but we can probably improve upon that.

Pile on this thread with suggestions and questions!

[2014-08-14 18:07] iangilman opened #29 "investigate broken images"
@supercc recently tried to convert a number of images, and while some of them worked, many did not. We should figure out why. These are the IDs for the broken images: `8`, `9`, `10`, `11`, `12`, `15`.

Also a great future feature would be some sort of logging/reporting so we automatically became aware of broken images.

[2014-09-02 23:04] Supercc opened #30 "zoomhub site is down"
Hi Guys,

Looks like Zoomhub site is down, anybody can help ?

thank you
Cedric

[2014-09-17 18:52] nein09 opened #31 "test framework isn't pointing at the right port"
At the moment, there's one test file (api._coffee) with one test in it. That test does get '/' and expects 'hello world', which zoomhub doesn't send. There are two problems here:
1. We should expect 'ZoomHub'
2. Zoomhub is sending 'ZoomHub' as its hello world message, but the test framework claims to be getting back an empty body, because it's not pointing at the port where the app is running.

It

[2014-09-23 05:56] gasi opened #34 "ops: Add log rotation"
Our current log file has grown to 56MB. I don’t believe it caused any issue so far but we should be smarter about log file growth down the line.

Edit by @aseemk: related issue #77 for aggregating.

[2014-10-01 23:07] iangilman opened #37 "Convert existing ID data"
I'm working on this. @aseemk it seems like maybe all you need is the original URL per ID; what do you think? Other options include mimetype, filesize, width, height.

Also, theoretically, I could have it run through all of the URLs and do an HTTP HEAD on them to see if they still exist.

[2014-10-02 06:40] #30 closed, assigned to nobody

[2014-10-06 05:19] aseemk opened #40 "vips: unknown action "dzsave""
@gasi: any ideas?

I see this error from `deepzoomtools`, but can repro it on the command line too:

[code]

I seem [up-to-date](http://www.vips.ecs.soton.ac.uk/supported/current/):

[code]

I had installed it via [sharp instructions](https://github.com/lovell/sharp#install-libvips-on-mac-os):

[code]

[2014-10-06 05:57] #37 closed, assigned to iangilman

[2014-10-06 08:54] #9 closed, assigned to nobody

[2014-10-06 08:57] #7 closed, assigned to nobody

[2014-10-06 08:58] #4 closed, assigned to aseemk

[2014-10-06 09:17] aseemk opened #42 "Proper queued, progress, failed states"
Thanks @nein09 for implementing _some_ handling of not-ready state in the embed!

Not urgent, but at some point, we should revisit that and round it out:
- [x] We should use proper accessible HTML etc., rather than a DZI.
- [x] Ideally, it'd be a proper progress bar, requiring us to actually track progress on the back-end.
- [x] Either way, the queued/progress UI should auto-update.

Most importan

[2014-10-06 15:35] aseemk opened #43 "Config to reject new content"
This will be good to have in case we're experiencing any issues.

We probably also want it for the initial Zoom.it transition, since we'll be expecting DZI files from cloud storage soon (issue #2) but haven't yet updated our code to upload them there. (We may just copy over existing content for now.)

[2014-10-07 05:14] #43 closed, assigned to nobody

[2014-10-07 18:33] #3 closed, assigned to aseemk

[2014-10-07 18:45] aseemk opened #47 "Freeze npm dependencies"
We really should do this for robustness. After experiencing checked-in `node_modules` (/ht @gasi), I'm inclined to do that. Any strong preferences for `npm shrinkwrap` instead?

[2014-10-07 18:55] aseemk opened #48 "Ops: way to use env during manual SSH"
Scenario: I've SSH'ed in and want to run a script we have checked into our repo, which uses our config. Since I'm on a production machine, I want to use production configs. (E.g. `DATA_DIR`.)

(Analogy: `heroku run bash`.)

Problem: the env is only set for the main web server run command.

https://github.com/zoomhub/zoomhub/blob/b23d8a025513913360a64f57080ffbb479bc0c1e/deployment/roles/web/templat

[2014-10-07 21:28] aseemk opened #49 "Ops: compile code before running"
Instead of compiling on the fly. Even though we cache, if a significant amount of code has changed, server startup is delayed.

We should still place the compiled output separately from the git source, though, so that cruft doesn't accumulate (or worse, cause bugs) as we rename and remove files, etc.

Analogy: Heroku has a notion of an explicit "build" directory where it runs build steps on, and t

[2014-10-07 21:30] aseemk opened #50 "Ops: zero-downtime deploys"
Right now, we explicitly restart our Node server, which means users see downtime for the span of the restart. Not a huge deal for now, but we should figure this out at some point.

Heroku achieves this by having a separate routing layer from the app layer, and the router holds onto open requests while the app is starting up.

I don't know how to achieve this on a single server, though I'm sure the

[2014-10-07 22:17] aseemk opened #51 "Google Analytics"
- [x] We should add Google Analytics to at least our views.
- [ ] Can we add it to our embed too? The way we did it with Zoom.it was to include the Google Analytics JS in our embed, which isn't great as it may conflict with sites I think (not sure).
- [ ] Can we use Zoom.it's existing tracking ID? Would be nice to keep continuous/historical data, but maybe that's okay to drop. If we can keep using

[2014-10-08 00:26] aseemk opened #53 "API: CORS, JSONP, non-RESTful"
See: https://github.com/zoomhub/zoomhub/blob/master/API.md#formats

[2014-10-08 08:03] kenperkins opened #56 "[Ops] Track progress on normalize"
The normalize script is seeing massive slowdowns. A quick win might be to just track already normalized id's, and then skip if they're processed already.

[2014-10-09 23:07] #56 closed, assigned to aseemk

[2014-10-10 06:15] aseemk opened #57 "Zoom.it transfer"
Working on setting up the pre-reqs for this now; just tracking.

- [x] Replicate DNS records (AKA zonefile) on our nameservers (still pointing to Microsoft servers)
- [x] David points domain (still owned by Microsoft) to our nameservers
- [x] David transfers domain to us (pointing to our nameservers, which still point to Microsoft servers)
- [x] We update the DNS records on our nameservers to poin

[2014-10-10 07:29] aseemk opened #58 "Mark copied content"
@kenperkins is copying over the imagery for our top content.

Since we won't have _everything_ copied for launch, I defaulted all of the content in our db to `ready: false` and `progress: 0`. This way, users will see the "queued" state for uncopied content, instead of missing or broken DZIs.

Before launch, we should change the data for everything we _have_ copied over, to `ready: true` and `progr

[2014-10-10 07:41] aseemk opened #59 "View page has embed showing at 400px"
E.g. http://zoomhub.net/100

![screen shot 2014-10-10 at 2 58 53 am](https://cloud.githubusercontent.com/assets/537838/4589209/72e860a4-5050-11e4-8207-d600f890431a.png)

We're inserting the embed snippet, which explicitly adds `height: 400px` as an inline style (since we're using the default snippet, which passes that as a query string param), _but_ we explicitly override that via an `!important`

[2014-10-10 07:45] aseemk opened #60 "Tile uploads after generation"
At some point, we'll want to re-enable acceptance of new content. To do that, we need to upload the tiles to CloudFiles now, after we generate them locally.

That'll also be a good spot to track `progress` now. Even if VIPS is fast for DZI generation, we'll probably still take a bit of time for DZI upload.

I wish I could remember the ratio that we used in Zoom.it (on the backend) for weighing DZI

[2014-10-11 21:03] kenperkins opened #62 "Opportunistic import of old content"
@aseemk and I were debating whether we should attempt to ingest any additional content from our top ~5000 items.

The prevailing idea was that we could create a `HEAD` request for each of our 1.2m items, and if we got a 404, we could opportunistically import that content, as it's no longer available on the web.

First step would be to see how many images we're talking.

[2014-10-13 01:15] #2 closed, assigned to nein09

[2014-10-13 01:36] aseemk opened #63 "Move to proper database"
From our current flat file approach.

The code currently supports using Redis, but not sure if we want to use Redis for our persistent datastore. It's possible; I'm just not sure if it's good.

http://redis.io/topics/persistence
http://oldblog.antirez.com/post/redis-persistence-demystified.html
https://muut.com/blog/technology/redis-as-primary-datastore-wtf.html

@kenperkins and I had a quick chat

[2014-10-13 03:44] kenperkins opened #64 "Missing data?"
Looking through our `total.txt` list of top images, I noticed that ~212 were missing from our content-by-id directory, and a dozen more or so had empty JSON. One had no `dzi` property: `./data/_Yev6.json`.

Do we have any idea why these would be a problem for our local db?

[2014-10-13 04:09] kenperkins opened #65 "Configure IP tables to persist"
I was diagnosing an odd ssh configuration problem on production:

`ssh_exchange_identification: Connection closed by remote host`, and a quick google said to flush some ssh caches. I figured a quick restart was easy since we're not under any load.

When it rebooted the `iptables` configuration got blown away.

We should have it configured to auto-load a default rule-set when the interfaces come up

[2014-10-13 04:49] #65 closed, assigned to nobody

[2014-10-13 17:11] #58 closed, assigned to nobody

[2014-10-13 17:15] #5 closed, assigned to nobody

[2014-10-13 17:47] aseemk opened #67 "Server-side monitoring"
Goals:
- [ ] Uptime (alert us when we're down)
- [ ] Performance (let us know when we need to scale)
- [ ] Analytics (give us data on things outside of Google Analytics' domain, e.g. API reqs and embeds)

My sense is that [New Relic](http://newrelic.com/) can provide a pretty good coverage of all these things for little work. We use it (but not exclusively) at FiftyThree, and I believe they have a

[2014-10-13 17:51] #59 closed, assigned to aseemk

[2014-10-15 03:21] #26 closed, assigned to iangilman

[2014-10-15 04:13] aseemk opened #70 "Documentation cleanup"
We should go through our readme.md and contributing.md and make sure the right stuff is mentioned and in the right places.

Most importantly, I think the top of the readme should explain clearly that this repository is for the open-source ZoomHub codebase, but if you just want to use the service, go to zoomhub.net, or if you want to use the API, here are the API docs, etc.

More generally, the rea

[2014-10-15 04:28] aseemk opened #71 "Logo!"
We should get a proper logo. =)

Places to use it:
- [ ] Twitter avatar
- [ ] GitHub avatar
- [ ] Website favicon
- [ ] Website UI

[2014-10-15 04:31] aseemk opened #72 "HTTPS"
Not urgent at (zoom.it never had it), but at some point, we should support HTTPS.

https://zoomhub.net/

We don't _need_ it, but in this day and age, it's easy to expect it. E.g. turns out our own Twitter profile actually assumed it (fixed).

[2014-10-15 04:44] aseemk opened #73 "About page, FAQ, etc."
In addition to basic input UI (issue #17), we should fill out some content/informational pages.

For reference, the pages from Zoom.it:
- [About](https://web.archive.org/web/20140805215003/http://zoom.it/pages/about/)
- [Create](https://web.archive.org/web/20140805215003/http://zoom.it/pages/create/)
- [FAQ](https://web.archive.org/web/20140805215003/http://zoom.it/pages/faq/)
- [API docs](https:/

[2014-10-15 06:39] #67 closed, assigned to kenperkins

[2014-10-15 17:20] aseemk opened #75 "Expand embed UI"
To do things like:
- [ ] Provide info and link back to ZoomHub

For reference, screenshot of Zoom.it's embed:

![screen shot 2014-10-15 at 1 18 28 pm](https://cloud.githubusercontent.com/assets/537838/4649957/747b8228-548f-11e4-928e-9482bf879428.png)

[2014-10-15 17:25] aseemk opened #76 "Expand view page UI"
To do things like:
- [ ] Convey the image size
- [ ] Provide the permalink and embed snippet for easy copying
- [ ] Link to create another
- [ ] Provide social share links?
- [ ] Link to the original image
- [ ] Provide a way for report abuse (if/whenever we implement that)

For reference, the Zoom.it view page:

![zoom it image 4rcn](https://cloud.githubusercontent.com/assets/537838/4649970/93763

[2014-10-15 20:52] aseemk opened #77 "Forward logs into Splunk"
E.g. into Splunk. (I set up a free SplunkStorm account; creds in passwords.md.)

https://www.splunkstorm.com/storm/deployment/data/overview/b576089a54ab11e4b52e22000ab5bb50

Documentation on forwarding our logs:

http://docs.splunk.com/Documentation/Storm/latest/User/Setupauniversalforwarderonnix

@gasi knows this stuff well.

Edit: related issue #34 for rotating.

[2014-10-15 21:26] kenperkins opened #78 "Setup proper expires headers for zoomhub container"

[2014-10-15 21:30] #78 closed, assigned to kenperkins

[2014-10-15 22:00] #51 closed, assigned to aseemk

[2014-10-15 22:01] kenperkins opened #79 "Make ansible environment aware"
This goes beyond adding different hosts, as many config values should be different per environment.

[2014-10-15 22:03] kenperkins opened #80 "Build a static asset pipeline"

[2014-10-15 22:16] kenperkins opened #82 "Set appropriate caching headers for content served by node app"

[2014-10-15 22:27] kenperkins opened #83 "Implement support for new-relic deployments"
https://rpm.newrelic.com/accounts/790628/applications/4061651/deployments/instructions

[2014-10-16 05:42] #12 closed, assigned to nobody

[2014-10-16 05:42] #31 closed, assigned to nobody

[2014-10-16 05:54] aseemk opened #86 "Continuous deployment from Travis"
We now have decent test coverage and automated CI through Travis, so let's get CD going too.

I assume the best way would be to have/let Travis deploy after a successful CI, but that _does_ require us to give our production keys to a third-party service, which isn't great. I'm okay w/ it though, as there isn't any better _but still simple_ alternative.

(At FiftyThree, we run a separate service wh

[2014-10-17 14:23] #53 closed, assigned to aseemk

[2014-10-17 19:10] aseemk opened #88 "Accept donations"
https://getsatisfaction.com/livelabs/topics/zoom_it_is_being_discontinued#reply_14900225

Possibilities: gittip, donate with PayPal, ...?

[2014-10-20 17:35] iangilman opened #89 "Import/generate additional images from old zoom.it"
If the old server is still up, we can do #62. Otherwise it's a matter of hooking up our tile converter to the existing URL/ID mapping (which will probably include #60). We can do this before we hook up the database stuff necessary to support new URL/ID mappings.

This is a popular request on:

https://getsatisfaction.com/livelabs/topics/zoom_it_is_being_discontinued

[2014-10-23 12:08] nitkapawel opened #90 "No content with ID"
hi,

we have embeded images from zoom.it site as a script:
script type="text/javascript" src="http://zoom.it/{$ID}.js?width=622px&amp;height=466px"

At this moment, this code returns message: "No content with ID: 3fvN".
All our links are listed below.
Is there a chance that the images will work again?

http://zoom.it/3fvN
http://zoom.it/42ZI
http://zoom.it/4pi0
http://zoom.it/5HThc
http://zoom.it/

[2014-11-02 16:57] #62 closed, assigned to kenperkins

[2014-11-02 16:58] #90 closed, assigned to nobody

[2014-12-30 10:45] narend opened #91 "All zoom.it images are gone!"
I had many zoom.it images and all seem to be gone. I at least need a way to back up in my store. Any way I can retrieve them, please

[2015-01-06 11:56] narend commented on #91
Thanks for the reply. Here are the images we are using in the public site http://digitalnarratives.net . These are now broken, and I could not trace original images. It'd be great if these are ported over. Thanks in advance!

http://zoom.it/dPNH
http://zoom.it/U29d
http://zoom.it/HYDt
http://zoom.it/QhBF
http://zoom.it/yCKg
http://zoom.it/JXTl
http://zoom.it/cOEr
http://zoom.it/uLib
http://zoom.it

[2015-01-27 10:11] th0mass commented on #89
these are also gone, please restore:

http://zoom.it/bQTEg
http://zoom.it/WmcF
http://zoom.it/GYet
http://zoom.it/GLVI
http://zoom.it/MjD0
http://zoom.it/HvgC
http://zoom.it/8vEX
http://zoom.it/I5f6
http://zoom.it/u1Vuu
http://zoom.it/AmNe
http://zoom.it/Qat3
http://zoom.it/mFbG
http://zoom.it/DW8hb
http://zoom.it/DW8hb
http://zoom.it/syCV
http://zoom.it/cTye
http://zoom.it/EerN
http://zoom.it/VbP

[2015-01-30 22:37] crmackay commented on #89
I would also like to add my image to this list...it is still queued

http://zoom.it/YGKx

[2015-02-03 12:21] leandrotlz commented on #28
Once all the dependencies are met and `./zh install` is run, there is no more guidance on how to actually upload images, or even basic server configuration. `./zh run` will start the server on port 8000, but that only displays the same notice that you can see in zoom.it. `./zh setup` asks for a vault password that is not listed anywhere, so at this point I'm stuck.

[2015-02-04 17:26] iangilman commented on #28
Unfortunately at this point, it's not really ready to be deployed elsewhere. I don't know the details, but I imagine the vault password has to do with the file store we're using on Rackspace. Ideally we'd have that module pluggable so you could use a file store on another provider if you wanted to.

In addition, being able to upload new images is not yet working (see #60, #63, and #89).

Developme

[2015-02-05 01:46] gasi commented on #28
Yes, I can confirm that so far this has only been tested for us to deploy to our own Rackspace account. It hasn’t been tested for setup on a different account yet, but it could work if you want to try it on your own Rackspace account by following these steps: https://github.com/zoomhub/zoomhub#administation

[2015-02-05 04:08] narend commented on #91
Hi iangilman, Can the above images be please restored? We are relying on them for a public facing site and getting these up would help us so much. Thanks in advance.

[2015-02-05 16:07] waigy commented on #89
I have a queued image also.

http://zoom.it/njmi

Cheers

[2015-02-05 17:18] iangilman commented on #91
Yes, I'm sorry it's taking so long! We are moving forward, if slowly. I'll keep you posted.

[2015-02-05 17:28] iangilman commented on #89
Yes, sorry for the delay!

A few notes from @aseemk on what we need to do next:

Here is the info on CloudFiles:

http://www.rackspace.com/cloud/files/resources/

[2015-02-09 18:24] johntester commented on #91
Hi, we had 2 info graphic images on arupconnect.com, can you please restore these 2 images:
http://zoomhub.net/v1/content/4W3O
http://zoomhub.net/v1/content/WFcM

[2015-02-19 13:43] b-s-w commented on #89
Hello @iangilman,

i am an old user of zoom.it and had one specific project uploaded there

http://www.bergerstadelwalsh.com/sagradafloor.html (zoom.it/iYO4.js)

it seems that the migration never occured for this project (image). We just noticed it not working a few days ago and just learned yesterday about the open sourcing of the project.

My problem is of extreme urgency because this project is

[2015-02-19 14:01] b-s-w commented on #89
Hi Guys,
Our image is also queued:
http://zoom.it/iYO4.js
Would be great if you could help us.
Thanks for the service.

[2015-02-19 21:13] iangilman commented on #89
@b-s-w Unfortunately I don't know when we'll have it working again. Depending on how urgent this is, you might consider recreating that page with OpenSeadragon. Feel free to email me at ian@iangilman.com for more info on that option.

Otherwise, stay tuned here for updates!

[2015-02-20 15:57] 1234PMS commented on #89
hi!!
this is my link: http://zoom.it/hFao
For me its quite important to get the link working again...
Does somebody know an alternative to zoom.it which is working nowadays?
Thanks!

[2015-02-20 18:15] iangilman opened #92 "How to: Switching to OpenSeadragon"
I'm starting this issue to help people who want to switch their zooming images over to using OpenSeadragon rather than waiting for ZoomHub. Hopefully ZoomHub will be back in full force soon, but this information may still be of use for people who want more control over their images.

Keep in mind that going the OpenSeadragon route is much more of a manual process. You have to convert your own imag

[2015-02-20 18:20] iangilman commented on #89
@b-s-w @1234PMS I've started a new issue for info on getting set-up with OpenSeadragon: #92

[2015-02-21 15:39] aseemk commented on #40
I'm on a new computer and a newer version of VIPS and I no longer see this.

[code]

[code]

Anyone should feel free to re-open if this is still an issue for them!

[2015-02-21 15:39] #40 closed

[2015-02-21 23:57] aseemk commented on #77
Just an update that Splunk closed our account a while back due to inactivity.

[2015-02-22 00:09] aseemk commented on #34
Re-opening, as we haven't made any progress on aggregation/forwarding (#77), and our current log has grown to 7.6 GB! :open_mouth:

[code]

Yikes. I remember taking those snapshots manually before, but that was via `cp ... && rm ...` (just `mv` doesn't do the trick), and we no longer have enough space for that now:

[code]

It looks like about 5 GB gets copied before that message, which means we h

[2015-02-22 02:01] aseemk opened #93 "Accept new content again"
Realized we didn't really have an issue to track this; opening this one.

Related issues and pre-reqs:
- [x] #60 to hook up tile uploads to Cloud Files after generation
- [x] #89, #91 to convert all of our remaining _existing_ content
- [x] #63 to move to a proper database (no way we can scale w/ flat files)
- [ ] #8 potentially to add a queue (for scale, to let us recover from errors, etc.)
- [ ]

[2015-02-22 02:03] aseemk commented on #42
Opened <https://github.com/zoomhub/node-deepzoomtools/issues/10> to emit `progress` there.

[2015-02-22 06:49] aseemk opened #95 "Return to URL symlinks in flat-file DB"
The original design of the flat-file db was intended to be e.g.:

[code]

However, while preparing for our big v1 launch, we scrapped the URL symlinks and instead used a single `data.json` file containing all URL-to-ID mappings as one giant dictionary (commit <https://github.com/zoomhub/zoomhub/commit/01d9bf3e02f7eead653872dc6bcdfe48cd9f0768>).

This was fine for launch, but `require()`'ing that f

[2015-02-22 06:56] aseemk commented on #95
Ultimately, we have to traverse the entire dictionary (or the `content-by-id` directory) and create a symlink for each entry (or ID) there.

That's probably not an option, because our production server probably doesn't have the memory to do that, while our user-facing app is running and still has `data.json` in memory too.

So we probably need a strategy to have our web server do it as it runs — s

[2015-02-22 07:00] aseemk commented on #95
Also, the `data.json` file currently is minified — all on one line, with no spaces. That makes it compact, but a pain to work with, e.g. Unix `head` and `tail` don't have any meaning.

Since we're updating the file on disk as we go, we might want to pretty-print the JSON to have each entry on its own line. (A quick test seems like the only way to achieve that is to have *some* indentation also, bu

[2015-02-22 17:34] aseemk commented on #63
Okay, @kenperkins (re-)discovered that all of our small flat files can cause the system to run out of inodes — which is effectively the same as running out of disk space:

http://www.ivankuznetsov.com/2010/02/no-space-left-on-device-running-out-of-inodes.html

And indeed, we're already pretty much at capacity on our production servers!

[code]

Given that we still have >300k IDs not even in our db

[2015-02-22 17:37] aseemk commented on #95
Okay, given the discovery that we're pretty much already out of inode space on our production server, we have to put this on hold until we move all the data off disk to Cloud Files: <https://github.com/zoomhub/zoomhub/issues/63#issuecomment-75446735>.

Maybe we can knock this out as part of the data migration...

[2015-02-22 19:57] #70 closed

[2015-02-22 21:50] aseemk opened #98 "Figure out way to have secrets for local dev, testing, CI"
As we add features, we're likely going to want or need to be able to use some paid resource (e.g. Cloud Files for tile uploads; #60 & #93) for local development and testing too.

This means we need some strategy for sharing secrets securely among each other, without exposing those secrets to the world on GitHub. (Edit: and ideally, those secrets would be shared here on GitHub in version control, n

[2015-02-22 21:55] aseemk commented on #98
One downside of Ansible Vault is that it supports only one password across all vault files. And presumably, we'll always have some production secrets we'll want encrypted.

This wouldn't necessarily be a big deal, except that Ansible Vault also asks for a password every time, which is super inconvenient, so I'm tempted to save the password to a file so I can use its `--vault-password-file` option

[2015-02-22 22:37] aseemk opened #99 "Test DZI and tile downloads too"
Right now, we test our API's responses, but we aren't actually testing that if it says "ready", the DZI and tiles are actually available for download.

One day if we have browser testing, theoretically we could achieve that by simply asserting that OpenSeadragon succeeds in downloading tiles.

For now, might be nice to still do so in a lightweight way, e.g. just the DZI file and a level 8 tile may

[2015-02-22 23:33] #99 closed

[2015-02-23 03:40] aseemk commented on #63
We should version our Cloud Files objects for this db container:

http://www.rackspace.com/blog/rackspace-cloud-files-how-to-use-object-versioning/

[2015-02-23 03:57] aseemk opened #100 "Add timestamps to data model"
Would be useful to have, e.g. for knowing when to retry or not, etc.

[2015-02-23 04:40] aseemk commented on #89
This isn't *exactly* closed yet — just implemented a bunch of code to do this, but still need to actually run it in production — but hope to do that very soon. =)

[2015-02-23 04:40] aseemk commented on #91
This isn't *exactly* closed yet — just implemented a bunch of code to do this, but still need to actually run it in production — but hope to do that very soon. =)

[2015-02-23 04:58] aseemk commented on #91
Server issues tonight preventing progress here unfortunately. Stay tuned...

[2015-02-23 04:58] aseemk commented on #89
Server issues tonight preventing progress here unfortunately. Stay tuned...

[2015-02-23 05:11] aseemk commented on #60
Opened issue #93 to accept new content; can probably consider this issue fixed with pull #94.

[2015-02-23 05:11] #60 closed

[2015-02-23 05:28] aseemk opened #101 "VIPS dependency not getting picked up on production server"
The worker logs are filled w/ this:

[code]

What gives? VIPS should be installed from `./zh setup`.

Blocking issue for #89, #91.

[2015-02-23 05:41] aseemk commented on #63
With the addition of a proper worker now, and a feature to process old content on-demand (#94), I needed to add proper tracking of content being worked on or not, so this feature needs strong consistency to work effectively.

And come to think of it, we'll also need strong consistency (and/or indexing or uniqueness constraints or something similar) if we want to turn on acceptance of new content (

[2015-02-23 05:46] aseemk commented on #8
Okay, so shipped pull #94 tonight which added a worker and lazy on-demand processing of old content... and things became a shit-show.

In retrospect, makes sense: we get a couple hundred requests per minute, so all those views were triggering work. That caused an exhaustion of inode capacity on the server.

(And substantial work wasn't even getting done: VIPS wasn't getting picked up. #101)

This

[2015-02-23 06:06] iangilman commented on #8
We get a couple hundred requests for "queued" content per minute? Wow… That's a lot!

In that case there might be something to be said for explicitly doing all of the items mentioned in #89 first, and then turning on the "on-demand" thing (once we can throttle it). I agree an in-memory queue would be the most expedient, and then we can move to a database once we've got one.

[2015-02-23 14:58] aseemk commented on #8
I took a deeper look at our instrumentation on New Relic:

https://rpm.newrelic.com/accounts/790628/applications/4061651/transactions#sort_by=throughput

And I'm off by about an order of magnitude: most of the requests are actually to our `queued.dzi` *tiles*. We should move those to our CDN'ed Cloud Files; I'll create an issue for that.

So over the past 24 hours, our average throughput for conte

[2015-02-23 15:21] aseemk opened #102 "Move queued.dzi to CDN'ed Cloud Files"
Low-hanging fruit, and can easily be done manually through the UI.

We'd also then need to update our code to point to it. We already point to the CDN for OpenSeadragon UI imagery, so it should be pretty similar there.

One last bit is that we do need the DZI XML info locally (we call `DZIParser.parse` on it), so perhaps we keep the XML file checked in locally.

[2015-02-23 15:30] aseemk opened #103 "Staging server behaves differently than production or local"
Really wonky — I uploaded the same kind of test data we use locally to staging, but its behavior is different, and in bafflingly opposite ways.

Uploaded these files, under `/var/data/zoomhub/content-by-id` (`cat` any of them to see the full data):
- `100.json`: `ready: false` (only change from what's checked-in to this repo)
- `100_U.json`: `ready: true` (unchanged from what's checked-in to this

[2015-02-23 15:39] aseemk commented on #103
Given that staging is running the same code as production and local, the problem is likely in the config. Indeed, our Ansible deployment isn't environment-aware yet (#79), so some of this env is wrong:

[code]

Notice the wrong `BASE_URL` and `CONTENT_DZIS_PREFIX`.

But neither of those should be causing this...

[2015-02-23 15:52] aseemk commented on #101
Simple test on any server:

[code]

Unfortunately, the worker isn't working correctly on staging at the moment (#103), so can't test this on staging...

[2015-02-23 18:28] kenperkins opened #104 "Make configuring block storage volume programmatic"
Currently, we've moved our content to a block storage volume that was hand configured.

We should set this up to be configured through ansible.

[2015-02-23 19:02] kenperkins commented on #104
http://docs.ansible.com/rax_cbs_module.html
http://docs.ansible.com/rax_cbs_attachments_module.html

[2015-02-23 19:23] kenperkins commented on #63
We've moved to a block storage volume for a local content buying us a little time:

[code]

[2015-02-23 21:48] kenperkins commented on #101
from a freshly provisioned test environment:

[code]

[2015-02-23 22:00] iangilman commented on #101
I don't see anything specific in our code for installing VIPS:

https://github.com/zoomhub/zoomhub/search?utf8=%E2%9C%93&q=vips

Is the idea that we just automatically get it because of node-deepzoom-tools' dependencies? Why don't we just add it explicitly to our own, so we know it's taken care of?

That said, looks like Ken has it working on a fresh environment, so maybe we go that way?

[2015-02-23 22:29] aseemk commented on #101
Hey folks,

If you look at the second line of Ken's output, it says "Content already successfully processed" — which it shouldn't be, and I've filed as issue #103 — so it's not testing VIPS being present or not.

@iangilman: node-deepzoomtools doesn't include VIPS; VIPS has to be installed separately on the system as a pre-req. We do install it via Ansible as part of `./zh setup`:

https://github.

[2015-02-23 22:32] kenperkins commented on #101
[code]

[2015-02-24 00:16] kenperkins opened #106 "Upgrade production to 2 or 4gb virtual machine"
Currently we're setup on a 1gb server. We've seen numerous problems with this. Here's my plan for migration
- [x] create a 4gb server
- Configure Server
  - [x] `./zh bootstrap`
  - [ ] `./zh setup`
  - [ ] `./zh deploy`
- [ ] unmount our block storage volume
- [ ] detach the volume
- [ ] snapshot the volume
- [ ] attach to new server
- [ ] mount on new server
- [ ] `./zh deploy`
- [ ] decommissio

[2015-02-24 03:43] gasi commented on #89
Awesome sauce!

[2015-02-24 17:24] iangilman commented on #106
Sounds lovely! What do you think, @aseemk?

@kenperkins Do you need any info from Aseem before rolling this out?

[2015-02-24 20:15] kenperkins commented on #106
@iangilman I don't believe so, but I wanted to capture it here so others saw this work item.

[2015-02-24 22:15] kenperkins commented on #106
It appears I can't run `./zh setup` on master as the node package is not found. @aseemk I seem to recall you mentioning this?

[2015-02-25 04:33] aseemk commented on #106
I fixed it AFAIK for what I encountered: <https://github.com/zoomhub/zoomhub/commit/f49f66b8c0b70a9374d10edce0d430d0a8cae9f5>

For debugging, I found that `apt-cache showpkg nodejs` helped. Via a comment on this answer: http://stackoverflow.com/a/16902348/132978

[2015-02-25 04:33] aseemk commented on #106
Btw @iangilman @kenperkins: the general issue SGTM!

[2015-02-25 17:07] kenperkins commented on #106
@aseemk I'm not sure it's worth spending time on changes to the version that are going to consistently break; I'm thinking we should proceed on #105

[2015-02-26 05:35] sagupast opened #107 "Please add:"
http://zoom.it/gGwh
http://zoom.it/Hewf
http://zoom.it/H0Tg
http://zoom.it/CGCi
http://zoom.it/hdR9
http://zoom.it/nGe6
http://zoom.it/VCbI
http://zoom.it/GrhI

THANK YOU!!!!

[2015-02-26 05:38] sagupast commented on #89
Please add:

http://zoom.it/gGwh
http://zoom.it/Hewf
http://zoom.it/H0Tg
http://zoom.it/CGCi
http://zoom.it/hdR9
http://zoom.it/nGe6
http://zoom.it/VCbI
http://zoom.it/GrhI

THANK YOU!!!!

[2015-02-26 17:01] iangilman commented on #107
Thanks for the report, and for adding it to #89. Closing this as a duplicate of that.

[2015-02-26 17:01] #107 closed

[2015-02-27 00:59] abrlam commented on #89
For those of you who need the images working right now.  You can give this site a shot.
http://zoomable.ca/

**Some caveats:**
- it doesn't accept TIF images (JPG only)
- no large image support (~64 MB)
- you have to re-upload your images again (if you have more than 10 images, might as well wait)

[2015-02-28 00:06] cdhs opened #108 "Request to reinstate queued links"
Please could you reinstate the following (queued) links.
http://zoom.it/qr6d#full
http://zoom.it/yrZq#full
http://zoom.it/lxww#full
http://zoom.it/DHd#full
http://zoom.it/Qcv7#full
http://zoom.it/az2P#full
http://zoom.it/WtEy#full
http://zoom.it/NgiE#full
http://zoom.it/ku55#full
http://zoom.it/CMTh#full
http://zoom.it/At7E#full

Thank you

[2015-03-02 17:24] iangilman commented on #89
@abrlam Very cool! Do you know who made it? Thanks for pointing it out. :)

[2015-03-02 17:40] iangilman commented on #89
#108 Has an additional list of requested IDs.

[2015-03-02 17:40] iangilman commented on #108
@cdhs Keep an eye on #89 for progress on this.

[2015-03-02 17:42] crmackay commented on #89
@abrlam thanks for headsup! this is great. I'll be looking at openseadragon for self-hosted option, but this is a great in the meantime!

[2015-03-03 17:02] 1234PMS commented on #89
hey! im trying zoomable.ca ....but always when the uploading is finish, it appears a fatal error message.
@abrlam  somebody knows how to solve it?
Thanks!!!

[2015-03-03 23:08] abrlam commented on #89
@1234PMS I'm the owner of that site, send the image URL over and I'll take a look at it.
@iangilman that would be me :)

[2015-03-03 23:30] waigy commented on #89
@abrlam I'm the same as 1234PMS, I always get a fatal error uploading an 18mb jpg to zoomable.ca

Fatal error: Allowed memory size of 268435456 bytes exhausted (tried to allocate 38632 bytes) in /home/zoomable/public_html/lib/thumbnail.inc.php on line 152

If you can help me, can you also explain how I send an image url to you.

Cheers

[2015-03-03 23:39] abrlam commented on #89
@waigy Certainly!
Add your file to WeTransfer (https://www.wetransfer.com/) and send it to zoomable1@gmail.com and I'll help you out.

[2015-03-04 12:24] 1234PMS commented on #89
@abrlam hey! thanks a lot! im trying to send it by wetransfer..but it only allows files up to 10mb--so I send it to you via google drive.. Hope its fine..and really thanks a lot! :)

[2015-03-04 17:13] iangilman commented on #89
@abrlam Very cool!

[2015-03-10 14:40] sagupast opened #109 "Queued... still..."
Had a list 12 days ago posted... still not available... ;-(

http://zoom.it/qr6d#full
http://zoom.it/yrZq#full
http://zoom.it/lxww#full
http://zoom.it/DHd#full
http://zoom.it/Qcv7#full
http://zoom.it/az2P#full
http://zoom.it/WtEy#full
http://zoom.it/NgiE#full
http://zoom.it/ku55#full
http://zoom.it/CMTh#full
http://zoom.it/At7E#full

Thanks,
Stephan

[2015-03-10 16:06] iangilman commented on #109
Closing as a duplicate of #108. For more information for why it's taking so long, see #89. Also, for alternatives, see #89.

[2015-03-10 16:06] #109 closed

[2015-03-31 18:40] sagupast opened #110 "Still queued... :-( :-( :-("
On Feb 24, 2015, at 4:57 PM, Chris Lewis <crlewis@gmail.com> wrote:

Sorry to see the end of Zoom it, but it's great news that the project is being taken over.
I have a number of queued images, it would be great if they could be reinstated, here's the list:
http://zoom.it/qr6d#full
http://zoom.it/yrZq#full
http://zoom.it/lxww#full
http://zoom.it/DHd#full
http://zoom.it/Qcv7#full
http://zoom.it/az2

[2015-04-01 16:15] iangilman commented on #110
Yes, I'm sorry it's taking so long! Turns out we've run into a number of technical challenges, and everyone who is working on it are often busy with their day jobs.

Anyway, keep reminding us. We definitely want to get it done!

That said, I'm closing this as a duplicate of #108...we have this information there.

[2015-04-01 16:15] #110 closed

[2015-05-06 03:46] narend commented on #91
It has been few months and I need these urgently. Any updates please?
Thanks in advance!

[2015-05-06 16:50] iangilman commented on #91
@narend Yes, I'm sorry it's taking so long! It's a combination of some thorny technical issues and a team of volunteers with demanding day jobs. I honestly don't know how much longer it will be.

If you need it urgently, you might consider trying http://zoomable.ca or working directly with http://openseadragon.github.io. If you do the former, @abrlam may be able to provide guidance; for the latter

[2015-05-06 17:17] abrlam commented on #91
Thank you for the referral Ian!@narend, would you by any chance still have the originals? If so, I'm more than happy to assist you in having them up online on our site.Abraham

[2015-05-25 12:46] abrlam commented on #91
Hi @narend, please check the message above for updates (new links provided).  Thank you.

[2015-06-10 07:38] franciscomarquitecto commented on #89
Hello! here are my queued pictures:

http://zoom.it/shFd
http://zoom.it/n2Sj
http://zoom.it/u9fH
http://zoom.it/Evi2
http://zoom.it/SFOM
http://zoom.it/4Pn4
http://zoom.it/N4Ew
http://zoom.it/AW5F
http://zoom.it/e2WC

I really need them online :S. Thank you for your help!

[2015-06-10 21:21] iangilman commented on #89
@franciscomarquitecto Thanks for the list! Believe it or not we are making progress.

Meanwhile, you might check out http://zoomable.ca

[2015-06-23 04:43] abrlam commented on #89
Hi @franciscomarquitecto,

The links you posted earlier this month are now on zoomable.ca. See links below (IDs have been preserved for easy migration):

http://zoomable.ca/zi/shFd
http://zoomable.ca/zi/n2Sj
http://zoomable.ca/zi/u9fH
http://zoomable.ca/zi/Evi2
http://zoomable.ca/zi/SFOM
http://zoomable.ca/zi/4Pn4
http://zoomable.ca/zi/N4Ew
http://zoomable.ca/zi/AW5F
http://zoomable.ca/zi/e2WC

Ho

[2015-06-23 08:40] franciscomarquitecto commented on #89
Thank you so much! helps a lot!

2015-06-23 6:43 GMT+02:00 abrlam <notifications@github.com>:

[2015-06-23 10:32] sagupast commented on #89
when do I get mine? :-(((

    THX,

    Stephan (Sagupast)

    Am 23.06.2015 um 06:43 schrieb abrlam:

      Hi @franciscomarquitecto,
      The links you posted earlier this month are now on zoomable.ca.
        See links below (IDs have been preserved for easy migration):
      http://zoomable.ca/zi/shFd
        http://zoomable.ca/zi/n2Sj
        http://zoomable.ca/zi/u9fH
        http://zooma

[2015-06-23 12:30] abrlam commented on #89
Hi @sagupast,
I'm having trouble getting the files (the ones that end with TIF) from your website.  Could you restore them or make them available somewhere I can get it?  Thank you.

[2015-06-23 12:37] sagupast commented on #89
ok, will do this! Let me check it.

    Thanks a lot!!!

    Stephan

    Am 23.06.2015 um 14:30 schrieb abrlam:

      Hi @sagupast,
        I'm having trouble getting the files (the ones that end with
        TIF) from your website. Could you restore them or make them
        available somewhere I can get it? Thank you.
      —
        Reply to this email directly or view
          it on GitHub.

[2015-06-23 13:20] sagupast commented on #89
Hi abrlam,does this work?https://www.dropbox.com/s/6szhfg4hc4iwke5/Bible_100nm.tif?dl=0Thanks,Stephanabrlam <notifications@github.com> hat am 23. Juni 2015 um 14:30 geschrieben:Hi @sagupast, I'm having trouble getting the files (the ones that end with TIF) from your website. Could you restore them or make them available somewhere I can get it? Thank you.—Reply to this email directly or view it on

[2015-06-23 13:33] abrlam commented on #89
Hi @sagupast
Yup, Dropbox works for me.  Send the rest of the Dropbox links to my email address zoomable1@gmail.com and I'll put them on our site.
Thank you again!

[2015-08-26 15:50] luckcolors opened #112 "Exporting original image."
Hello.
How can i export the original image from zoomhub? Is it possible to implement?
Thanks in advance.

[2015-08-26 16:29] iangilman commented on #112
Zoomhub works best if you keep the original image up...think of it as a caching service. If you want the original image, you should grab it from its original location rather than trying to reconstruct it off of Zoomhub.

[2015-08-26 17:32] luckcolors commented on #112
The problem is that i don't have the original source.

So is it possible to get the url of the single pieces by doing an api query? So i can wget them?

[2015-08-27 17:25] iangilman commented on #112
Sure. Are you familiar with the Deep Zoom Image format? If the image link is http://zoom.it/gSDF, then the API link will be http://api.zoom.it/v1/content/gSDF. From there you can get the link to the DZI file, which in this case would be http://content.zoomhub.net/dzis/gSDF.dzi. The tiles then are at http://content.zoomhub.net/dzis/gSDF_files, in the standard DZI structure.

[2015-08-27 17:48] luckcolors commented on #112
OK thanks! :)
Also you probaly forgot that there's the url to the original image in the json metadata.
[code]

[2015-08-27 17:48] #112 closed

[2015-08-28 20:38] luckcolors commented on #112
@iangilman I needed to download someone else image. :P

[2015-11-29 10:07] Budsy opened #113 "Queud images"
Is there a way to recover the original file? If not...
Any possibility these URLs can be processed and un-queued??

http://zoom.it/hF1g
http://zoom.it/ogOy
http://zoom.it/SoMP
http://zoom.it/eCXW
http://zoom.it/9k01
http://zoom.it/Ya4rK
http://zoom.it/JYoy
http://zoom.it/eCXW
http://zoom.it/nDwU
http://zoom.it/b2eR
http://zoom.it/JAVx
http://zoom.it/OUoO
http://zoom.it/GAHlC
http://zoom.it/DD3H
ht

[2015-11-30 17:47] iangilman commented on #113
You can find the original URL through the API. Here is the call for the top one on your list:

http://api.zoom.it/v1/content/hF1g

You can see in the result:

[code]

...that the original URL for that image is:

http://cosmo2.net/focmaps/Weitas_Creek.jpg

Unfortunately that URL is now giving a 404. Zoom.it relies on that original URL, so it won't be able to process any images that are missing like

[2015-11-30 19:47] Budsy commented on #113
Thanks very much Ian,

I figured out that because the source URLs and files no longer exists that was the problem of the 404.  I have a workaround now working, my client is happy, so all is well.

Best, Bob Dickow (Budsy)

Buffalo Girls Productions

From: Ian Gilman [mailto:notifications@github.com]
Sent: Monday, November 30, 2015 9:48 AM
To: zoomhub/zoomhub
Cc: Budsy
Subject: Re: [zoomhub] Queud

[2015-12-01 17:53] iangilman commented on #113
@Budsy Good to hear!

[2015-12-01 17:53] #113 closed

[2015-12-02 05:44] gasi commented on #108
@cdhs Thanks for posting these. I tried to convert them but unfortunately all of your image sources are gone (`HTTP 410 Gone`). Please reopen this ticket in case you put your images back :smile:

[2015-12-02 05:44] #108 closed

[2015-12-02 05:44] gasi commented on #89
@JaroJaro I was able to convert all your images.
@ssoysal I tried converting yours but it seems like all their source images have disappeared.
@chamberz I converted your remaining one.
@4shaw Done.
@th0mass Beautiful photos. They look a while but they’re converted now :eyes: :smile:
@waigy The source image for `njmi` was unfortunately not there anymore.
@crmackay Your image was successfully conver

[2015-12-02 05:44] #89 closed

[2015-12-02 05:47] gasi commented on #101
Didn’t have this problem while converting #89.

[2015-12-02 05:47] #101 closed

[2015-12-02 05:48] gasi commented on #100
`activeAt` and `finishedAt` are there, right?

[2015-12-02 05:48] #100 closed

[2015-12-02 05:50] gasi commented on #95
With #111 finished this has been solved.

[2015-12-02 05:50] #95 closed

[2015-12-02 06:25] iangilman opened #114 "Improved homepage"
@gasi suggests:

[2015-12-02 06:54] gasi commented on #114
FWIW, the old homepage looked like this:

![pasted_image_12_1_15__10_53_pm](https://cloud.githubusercontent.com/assets/49583/11524277/60bbbb8e-987e-11e5-8d4e-ff2a4a55d958.png)

I don’t find it particularly informative for a newcomer but pretty it was :eyes: :smile:

[2015-12-02 07:47] gasi commented on #91
@narend I was able to restore most of your images except for these:

[code]

Let me know if you restore them and I can give it another shot :smile:

/cc @iangilman @aseemk

[2015-12-02 07:47] #91 closed

[2015-12-02 07:49] gasi commented on #91
@johntester: Sorry, your source images resulted in 404s. Please let me know once they are up again :smile:

[2015-12-02 07:50] gasi commented on #25
Closing this as it’s been open for over 18 months. @acdha Feel free to reopen if there is still interest in submitting this :+1:

[2015-12-02 07:50] #25 closed

[2015-12-02 08:01] gasi commented on #57
Seems resolved, right? Feel free to reopen.

[2015-12-02 08:01] #57 closed

[2015-12-02 08:02] gasi commented on #48
:+1: for `bash_profile`. Who’s got the Ansible magic :sparkles:? :smile:

[2015-12-02 08:08] gasi commented on #29
Converted where possible:

- http://zoom.it/8
- http://zoom.it/9 (404)
- http://zoom.it/10 (404)
- http://zoom.it/11 (404)
- http://zoom.it/12 (non-existent ID)
- http://zoom.it/15

PEDO BEAR IS BACK!!

![](http://img.myconfinedspace.com/wp-content/uploads/2008/03/pedo-bear-seal-of-approval.png)

[2015-12-02 08:08] #29 closed

[2015-12-02 08:10] gasi commented on #28
Closing this as our current priority is probably less focused on self-hosting. However, feel free to contribute to our server setup and/or documentation :eyes: :heart:

[2015-12-02 08:10] #28 closed

[2015-12-02 08:10] gasi commented on #27
@iangilman Is the upgrade to the latest OpenSeadragon something you could/would want to help out with? No pressure :heart:

[2015-12-02 17:46] iangilman commented on #29
There's a blast from the past!

[2015-12-04 08:25] #27 closed

[2015-12-14 13:59] th0mass commented on #89
@gasi thanks :)

[2016-01-14 10:59] absurdartist commented on #89
hey
First i would like to say im total noob, rather artist.
Two years ago I made very large (55inc x 55inc) drawing, which was printed and I also managed to upload it to zoom.it enviroment. It all worked well, really thank you for that, but later i read about those changes. That its not possble to upload new images, but all old images should still be reachable.
And now ive being getting "queued" m

[2016-01-14 17:18] iangilman commented on #89
@absurdartist zoom.it can only rebuild the zooming version if the original is still located somewhere else on the web. According to our data:

http://api.zoom.it/v1/content/uIEH

...the original should be located at:

http://imageupper.com/s02/1/4/U13892988911176167_1.jpg

...but it appears to not be anymore.

If you still have the original somewhere and want to turn it into a zooming version, I c

[2016-01-28 15:11] sagupast commented on #89
Hi Ian,

could you please add following designs?

https://www.dropbox.com/sh/ba8ehtsv8h9x2ke/AADUWG7Zsw6hS_mBHDYFhhlWa?dl=0

01_nano_hamlet.tif
02_nano_moon.tif
03_nano_constitution_USA.tif
04_nano_arche.tif
05_nano_bible_portugiese.tif
06_nano_bibel_chinese.tif
07_nano_bible_french.tif
08_nano_bible_english.tif

Thank youuuu!!
Stephan

[2016-01-28 19:47] iangilman commented on #89
@sagupast So far we only have the capability to reconvert images that were already in the old seadragon.com. Converting new images is still in the plan, but progress has been slow.

Meanwhile you might consider using one of the tools listed here:

http://openseadragon.github.io/examples/creating-zooming-images/

[2016-01-28 23:35] abrlam commented on #89
@sagupast I should be able to upload your images to zoomable.ca I'll send you an email once they're up.

    On Thursday, January 28, 2016 2:48 PM, Ian Gilman <notifications@github.com> wrote:

 @sagupast So far we only have the capability to reconvert images that were already in the old seadragon.com. Converting new images is still in the plan, but progress has been slow. Meanwhile you might cons

[2016-02-01 03:20] sagupast commented on #89
... Hi Ian,

    did you have success with the files?

    Thx,
    Stephan

    Am 29.01.2016 um 00:35 schrieb abrlam:

      @sagupast I should be able to upload your images to zoomable.ca
      I'll send you an email once they're up.

      On Thursday, January 28, 2016 2:48 PM, Ian Gilman
      <notifications@github.com> wrote:

      @sagupast So far we only have the capability to reconvert i

[2016-02-01 13:34] abrlam commented on #89
@sagupast just emailed you the links

    On Sunday, January 31, 2016 10:20 PM, sagupast <notifications@github.com> wrote:

 ... Hi Ian,

 did you have success with the files?

 Thx,
 Stephan

 Am 29.01.2016 um 00:35 schrieb abrlam:

 @sagupast I should be able to upload your images to zoomable.ca
 I'll send you an email once they're up.

 On Thursday, January 28, 2016 2:48 PM, Ian Gilman
 <notifi

[2016-02-15 08:38] gasi commented on #63
Interesting POV. I just thought it’d be cool to query our content for the largest sizes and if we stored it all as opaque JSON values, we’d have manually query each entry to get that list, whereas, I believe, SQL would allow us to do that more straightforward.

Based on my research, a million entries should be easily manageable in MySQL or PostgreSQL these days :smile:

[2016-02-15 15:31] aseemk commented on #63
Total :+1: at this point to MySQL, if it's hosted for us for free. Agreed we don't need to be "web scale". =)

[2016-02-15 15:32] aseemk commented on #63
(FWIW, if we had Mongo or similar, those dbs speak JSON, so you could still query.)

[2016-03-01 08:28] gasi commented on #102
Done for v2: http://content.zoomhub.net/static/queued.dzi

[2016-03-04 05:51] gasi commented on #83
Might be a paid feature. Closing for now. Feel free to reopen if necessary.

[2016-03-04 05:51] #83 closed

[2016-03-04 05:51] gasi commented on #80
Punting.

[2016-03-04 05:51] #80 closed

[2016-03-04 05:54] gasi commented on #49
Done in v2 (by necessity) :wink:

[2016-03-04 05:54] #49 closed

[2016-03-04 09:05] gasi opened #118 "Checklist: V2 Launch"
- [x] Set up staging environment:
  - [x] Create Ansible playbook.
  - [x] Create clone of existing block storage with production data.
- [x] Reset production server.
- [x] Set up admin machine:
  - [x] Set up Splunk.
- [x] Test Google Analytics.
- [x] Write tests.
- [x] Ensure CI deploys `master` to production and other branches to staging.
- [x] Add support for JSONP, i.e. ?callback=…`.
- [x] Ad

[2016-03-04 09:06] gasi commented on #77
Splunk discontinued their free hosted Splunk offering. There is now _Splunk Light_ for 500MB/day for free. I tested it locally and it works fine. I’ll see if I can set it up on an admin machine.

[2016-03-04 09:22] gasi commented on #64
In the process of importing `missing-data.zip` on the v2 server.

[2016-03-04 09:32] gasi commented on #90
Confirmed our `missing-data.zip` has all but one of the listed IDs:

[code]

[2016-03-26 23:13] birbilis commented on #89
btw, couldn't you keep a hit count for the various images and prioritize to convert those that do get ANY hits first?

[2016-03-26 23:22] birbilis commented on #89
http://zoom.it/WwI0

mentioned here:
https://github.com/rsimon/seajax-utils
at "The file example-raphael.html illustrates how you can add Raphael drawing elements as overlays to a Deep Zoom image hosted on zoom.it."

[2016-03-27 02:51] gasi commented on #89
Yes, we have a list of the most popular images that people request but currently our conversion pipeline is fully manual. We are in the process of relaunching the service and will be able to do this automatically. If you want to get involved, this is the latest state of the codebase: https://github.com/gasi/zoomhub

I will queue this image up once we have the processing pipeline up and running. Th

[2016-03-27 17:16] birbilis commented on #89
Speaking of stats would be nice to be able to keep various metrics and make galleries from them (like most popular, most recent etc)

[2016-03-27 20:10] gasi opened #119 "Stats for content"
Keep track of stats for content, e.g. popularity, etc.

/via @birbilis https://github.com/zoomhub/zoomhub/issues/89#issuecomment-202108172

[2016-03-27 20:10] gasi commented on #89
@birbilis Agreed, that would be nice. I opened an issue: https://github.com/zoomhub/zoomhub/issues/119

[2016-03-27 21:29] #63 closed

[2016-04-15 14:55] Michael0406 commented on #89
I have some images I can not view:
http://zoom.it/oADx#full
http://zoom.it/wKXr#full
http://zoom.it/khhE#full
http://zoom.it/R8FS#full
http://zoom.it/TdCL#full
http://zoom.it/OVzp#full
http://zoom.it/kTxp#full
http://zoom.it/AyXn#full
http://zoom.it/8NlF#full
http://zoom.it/q1TO#full
http://zoom.it/1Yvz#full
http://zoom.it/ZTUF#full
http://zoom.it/SQe7#full
http://zoom.it/Ylv8#full
http://zoom.it/

[2016-04-15 17:09] #118 closed

[2016-04-16 06:24] gasi commented on #89
@Michael0406 Thanks for the links. I checked them in our database and it turns out, all the source URLs but a few are gone, i.e. 404. If you could make them available again, I could re-run the processing. You can check the status yourself if you go through the API and check the `ready` and `failed` properties. In your case, they are all `failed: true`:

#### Good (`ready: true`)
- http://zoom.it/k

[2016-04-17 00:03] nataluchi opened #121 "Queued... please help"
Hello, i've been using a zoomhub page lately for some research, but a few days ago, the page began to appear as "ZoomHub - Queued..." i don't know how to fix it, it is actually an old file from ZoomIt so when i started looking for a solution i read that all the files from Zoomit are fixed now; but apparently not. Can you help me **please**? I've tried myself to get it back but now i feel desperate

[2016-04-17 00:43] gasi commented on #121
@nataluchi Thanks for your report. ZoomHub (formerly Zoom.it) is a caching service, so it relies on the original source to be present. In your case, unfortunately, the source content at https://dl.dropboxusercontent.com/u/12646788/zoom.tif is gone and returns a `404 Not Found`. Would it be possible for you to put the content back? When you do, let me know and I’ll reconvert it 😄

Metadata: http://

[2016-04-17 08:06] nataluchi commented on #121
Dear Gasi, thank you so much for replying so fast. It seems that the site is fixed now, you were very helpful and i appreciate it!!! :) :+1:

[2016-04-17 17:18] gasi commented on #121
@nataluchi I found your content in a previous backup and restored it to the best of my ability. I am glad it worked out 😄 May I ask, what do you use ZoomHub for? I am trying to learn and build features that people like.

[2016-04-17 17:18] #121 closed

[2016-04-17 18:27] nataluchi commented on #121
Thank you Gasi!!! i use ZoomHub for architecture presentations mostly. :) :+1:

[2016-04-18 05:31] gasi commented on #121
@nataluchi Sweet, thanks for explaining! Do you have a page/presentation you could share? I’d like to learn more 😄

[2016-04-19 17:10] iangilman opened #122 ""In the wild" page to show who's using zoomhub"
Something like http://openseadragon.github.io/examples/in-the-wild/ but with our own styling of course.

The first step is just to collect sites we know of... drop them here in this issue when you find them!

[2016-04-19 17:11] iangilman commented on #121
@nataluchi Also, we'd love to be able to promote your work, if it's public! See https://github.com/zoomhub/zoomhub/issues/122

[2016-04-21 16:30] arcticio commented on #89
Would love to have `XpKT` back. It's source is now here: https://dl.dropboxusercontent.com/u/354885/Arctic/circumpolar.png

[2016-04-21 22:30] alanhogan commented on #89
Missing: http://zoom.it/efTf
original URL: http://zoom.it/efTf

[2016-04-22 08:47] Barbravant commented on #89
Missing:  http://zoom.it/3DyL#full

[2016-04-22 22:21] gasi commented on #89
@arcticio I rescheduled `XpKT` for processing 😄
@alanhogan Looks like your underlying source URL has disappeared: http://demo.pixelsandpages.com/Panorama%20Crissy%20Field%2001.JPG (http://zoom.it/v1/content/efTf) Please let me know when it’s available again.
@Barbravant Same with your source image, it now returns a 404 (Not Found): https://dl.dropboxusercontent.com/u/49131906/PFC_Gonzalo_del_val_2

[2016-04-28 19:59] andypatros opened #123 "Missing images: digitalmonalisa.com"
Hi,

I’m an existing user of Zoom It on my website at http://www.digitalmonalisa.com/zoom1.html

It is not working and wondered why.

Thanks,
Andy Patros

[2016-04-30 03:02] turielloantonio commented on #89
Hi, these are my queued images:

[](http://zoom.it/nsOY)
[](http://zoom.it/xOuN)

I hope you can unlock it as soon as possible. Thank you.

[2016-04-30 03:02] turielloantonio commented on #89
Hi, these are my queued images:

http://zoom.it/nsOY
http://zoom.it/xOuN

I hope you can unlock it as soon as possible. Thank you.

[2016-05-01 19:06] gasi commented on #89
@turielloantonio: Unfortunately, both your sources are gone (404):

- https://dl.dropboxusercontent.com/u/60690571/Light%20Inverse.jpg
- https://dl.dropboxusercontent.com/u/60690571/MoleculArt.jpg

Let me know when you made them available again and I can schedule processing them.

[2016-05-01 20:03] gasi commented on #123
@andypatros: I checked your website but can’t find any reference to Zoom.it / ZoomHub.net. Can you tell me which image on Zoom.it is queued for you?

[2016-05-01 20:21] birbilis commented on #89
Since the site doesn't keep source images, but just caches tiles (so an image not viewed often could maybe get missing again if source is removed in the future), maybe it would be best if the site was also showing the "Source" links for each image that isn't found telling the user if they can replace the images at their original URLs or if they can't to share the broken URL and the new image locat

[2016-05-01 20:51] andypatros commented on #123
Daniel,

I removed the zoomhub link and started using sirv.com's similar service, when I saw the zoomhub problem a few days ago.

I first used zoom.it when it was a Microsoft service, so that had to be 3-4 years ago.

Can it be fixed if I get you the image file name?

Andy Patros

Louis is right!
http://youtu.be/E2VCwBzGdPM

[2016-05-01 21:08] gasi opened #124 "Show source URL of image on view page"
/via @birbilis in https://github.com/zoomhub/zoomhub/issues/89#issuecomment-216069522

[2016-05-01 21:08] gasi commented on #89
@birbilis Good idea! I filed an issue: https://github.com/zoomhub/zoomhub/issues/124
In the meantime, you can view that information via our API, e.g. http://zoom.it/v1/content/nsOY

[2016-05-01 23:07] turielloantonio commented on #89
Hi, can you replace them with the new following links:

1) https://dl.dropboxusercontent.com/u/216565649/LightInverse.jpg
2) https://dl.dropboxusercontent.com/u/216565649/MoleculArt.jpg

in the following order:

1) http://zoom.it/nsOY
2) http://zoom.it/xOuN

because I can not recover the old links. Thank you.

[2016-05-02 18:06] ricachet opened #125 "Posters on SharePoint 2013 page is queued"
the posters listed at the bottom of the page are stuck on queued
https://technet.microsoft.com/en-us/office/dn788776

[2016-05-03 01:44] gasi commented on #125
@ricachet Thanks for reporting these, but when I checked their sources, they were gone, meaning I can’t restore them. Example: http://technet.microsoft.com/ff678313.temporary-zoom-it-image-105.gif

If you know how to get the original file, I could try restoring them.

[2016-05-03 01:44] #125 closed

[2016-05-03 03:50] gasi commented on #89
@turielloantonio Thanks, I updated the URLs and queued them for reprocessing.

[2016-05-03 04:30] gasi opened #126 "Upgrade to VIPS 8.x to fix inverted image bug"
Some images we convert have inverted colors, e.g. http://zoom.it/nsOY. This seems to be a bug in VIPS 7.x and has been fixed in 8.x.

[2016-05-03 04:30] gasi commented on #89
@turielloantonio Both images have been processed now. Unfortunately, we have a bug in our image converter and the first one looks wrong. We’ll need to update our image converter but I can’t give an ETA: https://github.com/zoomhub/zoomhub/issues/126

[2016-05-03 05:35] abrlam commented on #89
@turielloantonio If you need the first one right away, I have uploaded your image to zoomable.ca

Here's the link:
http://zoomable.ca/view.php?i=LightInverse

    On Tuesday, May 3, 2016 12:30 AM, Daniel Gasienica <notifications@github.com> wrote:

 @turielloantonio Both images have been processed now. Unfortunately, we have a bug in our image converter and the first one looks wrong. We’ll need to

[2016-05-03 15:50] turielloantonio commented on #89
I thank you all for the help and the availability! Ciao!

[2016-05-23 18:12] c2757371 opened #127 "http://zoom.it/hHWw"
http://zoom.it/hHWw is not working? Who can help?

[2016-05-24 04:23] gasi commented on #127
@c2757371: Thanks for reporting this. I tried requeuing it but the underlying source image (URL) is not available: https://dl.dropboxusercontent.com/s/hahixgb3hhjr56n/isaiahs_principle_by_louise_bostanian_low_dpi.png?dl=1

Could you restore it?

See: http://zoom.it/v1/content/hHWw

[2016-05-24 08:15] c2757371 commented on #127
@gasi Thanks! Unfortunately, I can't restore it.

[2016-05-24 15:55] gasi commented on #127
@c2757371 Sorry to hear. I redacted the links. Let me know if you get the file back.

[2016-05-24 15:55] #127 closed

[2016-05-24 18:36] c2757371 commented on #127
@gasi I got it: http://bit.ly/1WQJFNE Does that work?

[2016-05-25 04:43] gasi opened #128 "How to Uninstall Zoom.it Extension"
<img width="716" alt="os_x_security__encrypting_external_disks_-_the_mac_observer_and_dani" src="https://cloud.githubusercontent.com/assets/49583/15528389/652417a8-21f8-11e6-9e7c-24d4426c57c5.png">

---

<img width="746" alt="extensions" src="https://cloud.githubusercontent.com/assets/49583/15528397/755205cc-21f8-11e6-97f0-011ab7287112.png">

[2016-05-25 04:43] #128 closed

[2016-05-25 06:07] gasi commented on #127
@c2757371 I tried that URL and I can see a download page when I am logged into Dropbox, but it doesn’t work for Zoom.it. Can you share it at a publicly accessible URL? Thanks 😄

[2016-05-31 08:18] Nic72 commented on #89
Hello @iangilman,

I had one image on zoom.it, but it is very important. Would you be so kind and restore it? The zoom.it link was this:

http://zoom.it/jE5B

The original source image is still available, but the URL has slightly changed. It needs to be updated to this:

https://farm8.staticflickr.com/7423/10237783054_710ecc03a1_o_d.jpg

Thank you very much!!

Best,
Nic

[2016-06-01 04:41] gasi commented on #89
@Nic72: Thanks for the update. I update the source URL and requested a reprocessing. We should see whether it worked in 30min or less.

[2016-06-01 05:22] abrlam commented on #89
@Nic72: and here's the alternative URL (from zoomable.ca) if it doesn't work out:http://zoomable.ca/view.php?i=10237783054_710ecc03a1_o

    On Wednesday, June 1, 2016 12:41 AM, Daniel Gasienica <notifications@github.com> wrote:

 @Nic72: Thanks for the update. I update the source URL and requested a reprocessing. We should see whether it worked in 30min or less.—
You are receiving this because yo

[2016-06-01 15:05] gasi commented on #89
@Nic72: Looks like it went through: http://zoom.it/jE5B

@abrlam: Thanks for helping out. Curious: Can users submit to your website or only through you?

[2016-06-01 19:19] Nic72 commented on #89
Yes, indeed it did! Thanks so much for your help and for your time, both of you!!

Best,
Nic

[2016-06-02 17:40] iangilman commented on #89
Nice image! :)

[2016-06-02 22:45] abrlam commented on #89
@gasi only through me so far but will make it widely available down the road...

    On Wednesday, June 1, 2016 11:06 AM, Daniel Gasienica <notifications@github.com> wrote:

 @Nic72: Looks like it went through: http://zoom.it/jE5B@abrlam: Thanks for helping out. Curious: Can users submit to your website or only through you?—
You are receiving this because you were mentioned.
Reply to this email di

[2016-06-03 04:06] #124 closed

[2016-06-03 04:10] gasi commented on #89
@abrlam Cool, same here! Let me know if we can help each other some way 😄

[2016-06-20 04:00] abrlam commented on #89
@gillescastel Here's the alternative URL (from zoomable.ca)
http://zoomable.ca/view.php?i=zoomhub_K5uT

[2016-06-20 06:54] gillescastel commented on #89
@abrlam  Thanks a lot!

[2016-06-20 14:32] chamberz commented on #89
Can someone help me get off this list?

[2016-06-20 15:44] gasi commented on #89
@chamberz Try this button:
![import_generate_additional_images_from_old_zoom_it_ _issue__89_ _zoomhub_zoomhub](https://cloud.githubusercontent.com/assets/49583/16200682/493a593c-36dc-11e6-816b-9c78605a5cdf.png)

@gillescastel I also scheduled your image for processing.

[2016-06-20 17:53] gasi commented on #89
@gillescastel Your image has been converted: K5uT

[2016-06-28 19:24] benjamin777dp commented on #89
Can you make this webpage work?
 http://burnbridle.com/maps/Doylestown-1886.html

[2016-06-28 22:06] gasi commented on #89
@benjamin777dp Yes, I’d be happy to but could you please restore the missing image? http://burnbridle.com/maps/Doylestown_1886.tif

[2016-08-07 20:34] dyeya opened #129 "I can not access a file: OVzp"
this file     http://zoom.it/OVzp#full   can not be opened

[2016-08-08 14:35] gasi commented on #129
@dyeya Thanks for your request. Unfortunately, the underlying file is gone and I won’t be able to restore your image: https://dl.dropboxusercontent.com/u/3527548/Artemisa_Espinosa.tif

See: http://zoom.it/v1/content/OVzp

Can you restore that file?

[2016-08-12 14:19] mef commented on #72
Absence of https support prevents to use the zoom.it embed script inside https pages, in the more recent version of browsers. So it seems this issue is more problematic now.

[2016-08-16 02:59] gasi commented on #72
@mef Thanks for the feedback. None of us are currently actively working on Zoom.it. Do you happen to know an easy way to set up HTTPS on an Ubuntu / Haskell stack? I’d appreciate your help.

[2016-08-27 08:42] shadowc82 commented on #89
can you restore this please?

http://www.distrigazvest.ro/companie/aria-de-acoperire/

[2016-08-29 14:37] gasi commented on #89
@shadowc82 Thanks for your request. I checked your page and it seems to reference the following Zoom.it content:

- http://zoom.it/v1/content/gRRD

This points to the following PDF which is gone: http://3madd.com/distrigaz/dgv_harta.pdf I’d normally ask you to restore the PDF but unfortunately, we currently don’t support PDF conversion anymore. Apologies.

[2016-08-29 15:17] birbilis commented on #89
can use tools from pdfforge.org to print the pdf to an image I guess and publish it somewhere

[2016-08-29 15:56] abrlam commented on #89
@shadowc82 Hi George, is it a single OR multi page PDF? If it's single, I might be able to help you to have it on zoomable.ca

[2016-09-16 03:47] alanhogan commented on #89
Can you please restore http://zoom.it/efTf with <https://www.dropbox.com/s/v2c81v83yx6wrej/Panorama%20Crissy%20Field%2001.JPG?dl=0>? thanks :)

[2016-09-16 20:39] sappollo commented on #89
Can you please restore http://zoom.it/pEvgi with https://dl.dropboxusercontent.com/u/221369/Mosaic_porsche.PNG
Thanks in advance!

[2016-09-19 04:43] abrlam commented on #89
@alanhogan @sappollo Here are the links:

http://zoomable.ca/view.php?i=panorama_crissy_field_01
http://zoomable.ca/view.php?i=mosaic_porsche_10000

    On Wednesday, June 1, 2016 3:19 PM, Nic72 <notifications@github.com> wrote:

 Yes, indeed it did! Thanks so much for your help and for your time, both of you!!Best,
Nic—
You are receiving this because you were mentioned.
Reply to this email direct

[2016-09-28 05:39] alanhogan commented on #89
Thanks :) Silly question, but why can't the original URL be restored?

[2016-09-28 14:51] gasi commented on #89
@alanhogan This is a fair question. Ever since Microsoft has sunset Zoom.it, it has been maintained by a small group of volunteers including myself. Due to personal circumstances (move from West to East coast, projects at work, etc.), I haven’t been able to dedicate time to Zoom.it. Aside from that, the idea behind Zoom.it was to have immutable URLs, meaning once you submitted it, the ID, e.g. `ef

[2016-11-10 05:24] chx commented on #89
would it be possible to resurrect http://zoom.it/C96KR.js somehow? It's an incredible resource.

[2016-11-10 06:19] gasi commented on #89
@chx: If you can resurrect the original source http://i.minus.com/ibbcFjdx3GYo2L.jpg, I can requeue it for conversion :smile:

[2016-11-10 20:57] ratonyi commented on #89
Hello! Could you restore http://zoom.it/C96KR with http://ratonyi.hu/images/1947_4917-bp.jpg please.

Very thanks

[2016-11-18 23:21] mixter13 commented on #89
Hi, could you please restore [http://zoom.it/c5LA#full](http://zoom.it/c5LA#full) when you have the chance?
Much appreciated!
Mike

[2016-11-19 00:07] gasi commented on #89
@mixter13: Could you restore the underlying file http://michaelgilmore.com/files/t28.png please?

[2016-12-07 12:18] lkozma-net commented on #89
Hi,
would it be possible to restore http://zoom.it/5WQt.js ?
Thanks in advance,
Laszlo

[2016-12-13 13:10] lkozma-net commented on #89
I forgot to mention: this image is linked from this post: http://lkozma.net/blog/map-of-named-colors/
The message on the image sent me to this thread.

Regards,
Laszlo

[2016-12-22 07:19] gasi commented on #89
@ratonyi: Requeued: http://zoom.it/v1/content/C96KR. Thanks 😄

[2016-12-22 07:21] gasi commented on #89
@lkozma-net: Do you want http://zoom.it/v1/content/5WQt to be restored with https://tpjrba.dm1.livefilestore.com/y2pjwnrmbcw8QyqBxPb91NPhUiEmOKhTcqZ2I750s-F7BF4JLDpymfs0Gyc1NcZBEsnOhTvIRF59ynHDqKztGCw1kf4a8KHjaqLkM7sqtR5QyY/exp_som_text_scale.png?psid=1 ?

[2016-12-22 19:01] gasi commented on #129
@dyeya I haven’t heard back from you, so I will close this issue. Please feel free to comment on #89 once you have restored the underlying file.

[2016-12-22 19:01] #129 closed

[2016-12-22 19:01] gasi commented on #123
@andypatros Yes, we may be able to restore your images if you give us all the URLs. We have been reprocessing old files in the background during the past 8 months.

[2016-12-22 19:07] gasi commented on #106
Completed with move to Haskell/Keter.

[2016-12-22 19:07] #106 closed

[2016-12-22 19:08] gasi commented on #104
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:08] #104 closed

[2016-12-22 19:09] gasi commented on #103
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:09] #103 closed

[2016-12-22 19:09] gasi commented on #102
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:09] #102 closed

[2016-12-22 19:10] gasi commented on #98
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:10] #98 closed

[2016-12-22 19:12] gasi commented on #86
Completed this with move to Haskell/Keter. Closing issue for now. Feel free to reopen if relevant.

[2016-12-22 19:12] #86 closed

[2016-12-22 19:12] gasi commented on #82
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:12] #82 closed

[2016-12-22 19:12] gasi commented on #79
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:12] #79 closed

[2016-12-22 19:12] gasi commented on #77
We have Splunk logs now. Closing issue for now. Feel free to reopen if relevant.

[2016-12-22 19:12] #77 closed

[2016-12-22 19:14] gasi commented on #64
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:14] #64 closed

[2016-12-22 19:14] gasi commented on #50
We have this now with Haskell/Keter. Closing for now. Feel free to reopen if relevant.

[2016-12-22 19:14] #50 closed

[2016-12-22 19:14] gasi commented on #48
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:14] #48 closed

[2016-12-22 19:14] gasi commented on #47
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:14] #47 closed

[2016-12-22 19:16] gasi commented on #34
We have log rotation with Haskell/Keter now and (so far) plenty of disk space:

[code]

[2016-12-22 19:16] gasi commented on #34
Closing out old issues. Feel free to reopen if relevant.

[2016-12-22 19:16] #34 closed

[2016-12-22 19:18] gasi commented on #71
Added new logo. Closing for now. Feel free to reopen if relevant.

[2016-12-22 19:18] #71 closed

[2016-12-22 19:18] gasi commented on #71
<img width="1239" alt="zoomhub___zoomhub____twitter" src="https://cloud.githubusercontent.com/assets/49583/21437386/6476675c-c838-11e6-8b39-19485da403b5.png">

[2016-12-22 19:46] gasi commented on #77
See: http://admin.zoomhub.net:8000/

[2016-12-22 22:15] lkozma-net commented on #89
@gasi: yes, this is the file -- I just checked and it seemed to download correctly, although it takes some time, as it is rather large (12MB)

Could it be a problem with the ?psid=1 part in the end? It does download correctly without that as well. Could I help by uploading the file somewhere else?

Thanks again, for keeping this great service online.

[2016-12-22 22:59] gasi commented on #89
@lkozma-net Thank you for the kind words. Your image is online again: http://zoomhub.net/5WQt

[2016-12-24 04:30] iangilman commented on #71
Looking good! Great to see the action here and on Twitter :-)

[2017-01-07 21:39] paulgt11 opened #130 "restoring old image"
Hi guys,
back in 2014, i asked if you would be able to recover an old image.
The original reference was zoom.it/5eha.
It is a large .tif image of a local cemetery that helps families and family historians locate their ancestors in our local cemetery.
it was originally logged on issues/89, but that was back then and that issue is now closed, hence adding a message here.

I do hope that you are stil

[2017-01-10 05:34] gasi commented on #130
Thanks for reaching out @paulgt11. Your image is back online: http://zoom.it/5eha Enjoy 😄

[2017-01-10 17:05] paulgt11 commented on #130
Thanks Everyone.

[2017-01-10 18:35] paulgt11 commented on #130
hi Guys,
is it possible to revisit this image?
I have noticed that the bottom quarter is missing. This is a very large file and your systems may not be able to handle it as it 319Mb.
I have added a good copy of the file to my drop box account where the images are stored. (Link below)
if you are able to regenerate from the .tif file, i would be most grateful. if all else fails, try with the .jpg.
T

[2017-01-11 08:53] gasi commented on #130
@paulgt11 Thanks for pointing out the issue. I tried downloading the TIFF file twice in Chrome and once in Safari and it always ends up being 242.8MB. Opening that file in _Preview_ and _Photoshop_ results in a warning that the file is corrupted and the bottom part is missing. Can you check the source again?

Unfortunately, ZoomHub currently doesn’t work with Dropbox links.

[2017-01-11 17:20] paulgt11 commented on #130
HI @gasi . My apologies for the problem with the tiff file. I was not aware that it was corrupt on the website. I have now replaced it with a good version and you should be able to download it.

[2017-01-12 00:28] gasi commented on #130
@paulgt11 Thanks. Looks like we got it all this time. Mind confirming? http://zoom.it/5eha

[2017-01-12 00:28] #130 closed

[2017-01-12 08:30] paulgt11 commented on #130
Thanks @gasi . The image is perfect this time.

[2017-01-12 13:53] paulgt11 commented on #130
Hi @gasi,
When i viewed the image from my mobile this morning it looked intact; however from a desktop computer or from the website, there are segments missing in the initial view.
As you zoom in, they disappear and some other gaps appear in the early stages, but every thing is okay on the close-ups.
It is like there are some segments that have not transferred leaving holes in the map.

I would be

[2017-01-12 19:17] gasi commented on #130
@paulgt11 I noticed these gaps too, the first time the corrupted image was converted. Now when I try in a clean browser / browser with history deleted, I don’t see those black holes. Mind clearing your browser history & cache and try again?

[2017-01-12 21:27] paulgt11 commented on #130
Hi @gasi
Thanks for the update. It works fine with the browser. I won't trouble you again. :)
Your time and effort is most appreciated.

Best wishes
Paul T

[2017-01-13 08:07] gasi commented on #130
@paulgt11 You are no trouble at all — I want to make sure your needs are met and your image is displayed correctly 😄 Please let me know if you encountered any further issues — I’d be happy to help where I can.

[2017-01-14 03:48] gasi commented on #123
@andypatros I’ll close this issue to keep the backlog tidy but please comment here if you’d like to reinstate your images on @zoomhub.

[2017-01-14 03:48] #123 closed

[2017-02-03 13:02] eltonnobrega opened #132 "license"
Good Morning. Is it allowed to use deep zoom format on my imaging site? I have seen that this format has a proprietary license.

[2017-02-06 00:08] gasi commented on #132
@eltonnobrega What are you referring to specifically? The Deep Zoom Image (DZI) format, the OpenSeadragon library, or zoom.it/ZoomHub? Each has their own licensing terms. Let me know and I'll try to help. I am confident we'll find something that works for you.

[2017-02-13 02:24] gasi commented on #132
@eltonnobrega I am not aware of the Deep Zoom format (DZI) itself having any licensing restrictions and many people use it on their sites:

- Artsy: https://www.artsy.net/artwork/saint-clair-cemin-greece/zoom
- Chris Jordan: http://chrisjordan.com/gallery/rtn/
- NYT: https://www.nytimes.com/interactive/2017/01/20/us/politics/trump-inauguration-photo-zoomer.html?_r=0

More: https://openseadragon.gi

[2017-02-13 02:24] #132 closed

[2017-02-18 17:47] alanhogan commented on #89
@gasi I have restored the original source URL for http://zoom.it/efTf. If you could resuscitate it with the original zoom.it URL, that would be really cool :)

[2017-02-21 02:12] gasi commented on #89
@alanhogan Perfect! You are all set: http://zoom.it/efTf 👀

[2017-02-21 03:59] alanhogan commented on #89
You’re my hero 🙌🏼 I’m serious: people who fight linkrot should be memorialized in granite somewhere

[2017-02-21 15:12] gasi commented on #89
Awww, thanks, @alanhogan — this means more to me than you can imagine. I’ve been trying to carve out after-hours time to bring ZoomHub back to its old glory. It’s currently running on SQLite which means it can’t accept concurrent submissions of new URLs because the database only allows one writer at a time. I am in the process of moving to a proper PostgreSQL server which will solve that, but as i

[2017-04-01 04:47] alanhogan commented on #89
Hey @gasi, I use(d) ZoomHub/ZoomIt relatively infrequently, but I did so when I had very high-resolution photos where the detail was worth something and I wanted to put it online. Asking people to download a (say) 30MB image and use their system software to zoom & pan around it is kind of a non-starter, so this kind of software is inherently useful! I am not a regular-enough user to have any compl

[2017-11-10 21:15] tquick100 commented on #89
http://zoom.it/SqRL - full	Dec 13, 1906
http://zoom.it/ihJx - full	         March 9, 1932
http://zoom.it/b8rT - full	         April 26, 1934
http://zoom.it/uCjo - full	April 27, 1934
http://zoom.it/RoF3 - full	April 28, 1934
http://zoom.it/RoF3 - full	July 23, 1934
http://zoom.it/tW5jL - full	July 24, 1934
http://zoom.it/Cbmmz - full	July 26, 1934
http://zoom.it/ef6W - full	July 27, 1934
http://zo

[2017-11-15 03:56] gasi commented on #89
@tquick100 Thanks for reporting these 😄  I am busy this week but will take a look this weekend. Please keep in mind, we can only restore the ones where the originals are still online. I just did some spot checks and noticed some are missing, e.g.:
- http://zoom.it/Cbmmz
- http://zoom.it/kwuF

Would you mind checking and putting the originals online for the ones where they are missing? Thanks!

/cc

[2017-11-15 20:06] tquick100 commented on #89
links have been fixed except for
http://zoom.it/WUkA <http://zoom.it/WUkA#full>
(http://www.ironmtnmi.com/zoomit*/october%2015%201969.jpg*)
file name was somehow changed and can not be made to work.

Thanks,
Terry

On 11/14/2017 9:56 PM, Daniel Gasienica wrote:

[2017-12-04 18:09] gasi commented on #89
@tquick100 Thanks for the updates. Unfortunately, the current system can’t process old files. We plan to restore the service for the long-term though. I’ll update this issue when it’s ready. Thanks for being one of our supporters 🙇

[2017-12-06 05:07] abrlam commented on #89
@tquick100, another website you could use in the meantime is [zoomo.ca](https://www.zoomo.ca/explore).  Check it out and see if it suits you.

[2017-12-06 14:24] gasi commented on #89
@abrlam Awesome — thanks for sharing! Looks like you made significant progress on your website — kudos 😄

[2017-12-12 02:44] abrlam commented on #89
@gasi Thank you!  Hopefully I could tweak it further to have API support.  I’ll put that in my 2018 todo list.  How are you and others doing?

[2018-01-08 17:35] gasi commented on #89
@abrlam Doing well, thanks! Happy New Year! Hope to get back to ZoomHub development sometime this year.

[2018-04-13 07:24] antonang opened #133 "Does zoom.it have a https site?"
Hi,

I have recently shifted my site to https and found that the zoom.it embedded code no longer works. Does zoom.it have a https version that I can use? Thanks.

[2018-04-13 17:01] gasi commented on #133
@antonang Not yet but we are tracking this here: https://github.com/zoomhub/zoomhub/issues/72

[2018-04-13 17:01] #133 closed

[2018-06-17 20:50] jckahn commented on #89
Can you help me process http://zoom.it/YDyn?  Thanks!

[2018-06-18 16:56] gasi commented on #89
@jckahn I will try. Can you first restore the image under http://www.jckahn.com/wp-content/uploads/2013/02/Poster6.png (currently redirects to HTML page: http://www.jckahn.com/2013/02/06/measuring-community/). Or please provide me with a new URL for the image.

[2019-03-24 01:41] gasi commented on #63
Fixed by #120.

[2019-11-02 23:59] neropatti commented on #89
http://zoom.it/td8H is queued

[2019-11-05 00:26] gasi commented on #89
@neropatti Thanks for letting us know. We’re currently not converting images, but once we start again, can you please make sure the original URL is available? http://doxecure.com/Personal/Untitled2352.jpg

[2020-02-09 00:22] Antuanium commented on #89
Hi, I'm the webmaster of www.vapor3d.punchinout.net. I need you to run these two zooms from the old site:
http://zoom.it/TLQr
http://zoom.it/GYB3

They are two historical maps of railroad lines, and the .jpg they point to seems to be on the server. Thank you!

[2020-03-09 22:41] gasi commented on #89
@Antuanium Thanks for reporting these. We are currently doing a migration of our servers and cannot update any images, but when it’s complete, we’ll make sure yours are prioritized.

[2020-03-10 03:27] abrlam commented on #89
@Antuanium You could use [zoomable.ca](https://zoomable.ca/) in the meantime.  For example, here are your maps:
https://srv2.zoomable.ca/viewer.php?i=img0418be3e69743bed_mapa1855
https://srv2.zoomable.ca/viewer.php?i=img1af114532c883be6_mapa1867

[2020-06-28 00:44] gasi commented on #114
Done.

[2020-06-28 00:44] #114 closed

[2020-12-12 00:47] #72 closed

[2020-12-12 07:07] gasi commented on #119
We keep track of this internally but have not decided whether to expose this yet.

[2020-12-12 07:28] gasi commented on #72
@mef First of all, thanks for your patience. This is live now. Please give it a spin and let me know if you find anything amiss 🙇‍♂️

[2020-12-13 10:30] mef commented on #72
Thanks @gasi, great to see this one fixed, it works perfectly :)

[2021-04-06 07:05] pacolara commented on #89
http://zoom.it/hW2X.js  is queued

[2021-09-04 21:09] zglinka commented on #89
Please, restore:
http://zoom.it/M16t.js

[2021-09-06 21:50] gasi commented on #89
@pacolara Could you please restore the original file at http://www.adsur.es/contenidos/mapas/ign2.gif?
@zglinka Could you please restore the original file at http://www.par.annapiaseczno.pl/pliki/mapa_cmentarza.jpg?

[2021-09-07 06:37] pacolara commented on #89
http://www.adsur.es/contenidos/mapas/ign2.gif Restored

[2021-09-26 13:32] gasi commented on #126
This should be resolved with `sharp` 0.26.3 that uses VIPS >= 8.10:
https://sharp.pixelplumbing.com/changelog#v0263---16th-november-2020

[2021-09-26 13:32] #126 closed

[2021-09-26 13:33] gasi commented on #8
We are now queuing via our PostgreSQL database.

[2021-09-26 13:33] #8 closed

[2021-09-26 13:34] gasi opened #172 "Uploads are displayed misoriented"
We are currently not rotating images based on their EXIF data, e.g.

- https://zoomhub.net/rNOBe
- https://zoomhub.net/Ep8Vp

[2021-09-26 13:55] gasi commented on #93
We now do for uploads! ⬆️

[2021-09-26 13:55] #93 closed

[2021-09-26 14:02] #172 closed

[2021-09-26 18:18] gasi opened #174 "Hide source URL for uploaded images"
These images are hosted in a private S3 bucket and are inaccessible by the public.

[2021-09-26 18:33] gasi opened #175 "Report progress during upload"
Right now, when uploading large images, it’s unclear how long it’ll take or whether there are any errors.

[2021-09-26 18:45] gasi opened #176 "Notify user when processing is completed"
Send another email with a link to the content.

[2021-09-26 18:50] gasi opened #177 "Indicate error if processing failed"

[2021-09-28 21:32] iangilman commented on #176
I would actually suggest we only need a single email, once processing is completed. In other words, don't email them once the upload is completed and processing has started; just email them when processing is completed.

In fact made we don't even need the "verify" page at all? Or maybe you should be able to go to it from the upload page if you stick around long enough. In other words we can still

[2021-09-28 21:45] iangilman commented on #176
Hmm… I suppose part of the reason for the first email is to verify that it's a real email account. Giving them the URL on the page would defeat that purpose.

So yeah, maybe we just get rid of the verify page, and the email only gets sent when the process is completed (or if there is an error). I think that's what the user wants… They don't want to sit around on a webpage waiting.

[2021-10-07 14:26] pavelloz opened #185 "[Frontend][Perf] Potential huge optimization"
I have noticed that the 178KB script is loaded couple of times on homepage ( https://www.zoomhub.net/ )
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/546845/136403917-df244b96-aa99-4674-8dca-7f1090ead28a.png">

Ive run diff on them from curiosity and it looks like the difference is less than 1KB.
Because all files have different file names, they are not cached and ar

[2021-10-18 21:31] gasi commented on #185
@pavelloz Thanks for the detailed write-up. I’ve had a chance to play around with Tailwind CSS and I find it promising. Thanks for the offer to create a sample configuration, but I was able to get up and running on my own. It’s still early, but feel free to take a look here: https://github.com/zoomhub/zoomhub/pull/186

[2021-11-17 10:54] Benomrans commented on #176
Well, as a user my wish list includes adding share links to the email and embed codes ( with variables that allow me, when needed, to prevent downloading, copying and fullscreen view to limit screenshots of the images in any zoom level ). I do really wish that.

[2021-11-19 07:17] gasi opened #194 "OpenSeadragon: Update instructions"
Update this page https://openseadragon.github.io/examples/tilesource-zoomit/ and link to it from https://openseadragon.github.io/examples/creating-zooming-images/

- [ ] Restore old `http://cache.zoom.it` CDN domain (currently `https://cache.zoomhub.net`)

/cc @iangilman

[2021-11-20 17:35] iangilman commented on #194
I'd forgotten about that page! Great idea to update it :-)

[2021-12-29 00:26] myomin1993 opened #195 "mm"

[2021-12-29 00:27] myomin1993 commented on #195
mm

[2022-01-20 01:02] #195 closed

[2022-01-20 01:08] gasi commented on #89
**Update:** ZoomHub now accepts new submissions. If you have your original content, I recommend trying to upload it again at https://zoomhub.net/ and update your links/embeds with the new ID.

Let me know if you have any questions.

[2022-02-23 23:37] gasi commented on #176
@Benomrans Thanks for the feedback. The view page itself now has share and embed buttons #210.

[2022-02-23 23:38] gasi commented on #174
Fixed with 7c450ec08799b27cc476efd06b2c828e0ef81fb9

[2022-02-23 23:39] #174 closed

[2022-02-23 23:40] gasi commented on #92
Closing this now as ZoomHub is open for submissions. Still a good reference for those who need customization beyond what ZoomHub offers.

[2022-02-28 11:11] gasi commented on #175
Done.

[2022-02-28 11:11] #175 closed

[2022-02-28 11:16] gasi commented on #17
Completed with MVP release https://github.com/zoomhub/zoomhub/pull/170

[2022-02-28 11:16] #17 closed